In [1]:
#groupby,群組相同值的資料,並使用統計運算
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one -0.788057 -0.666498
1    a  two -1.099865  0.433646
2    b  one -0.792596 -0.536091
3    b  two -0.778400 -1.545543
4    a  one  0.241679  1.213726

In [2]:
gp1 = df['data1'].groupby(by=['x','x','x','y','y'])
gp1.sum()

x   -2.680518
y   -0.536721
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).sum()

key1
a   -1.646242
b   -1.570996
Name: data1, dtype: float64

In [4]:
df['data1'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     one    -0.546378
      two    -1.099865
b     one    -0.792596
      two    -0.778400
Name: data1, dtype: float64